<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Preencher com seus valores reais antes do deploy -->
    <add key="Maryar:JwtSecret" value="TROQUE_POR_UMA_CHAVE_SECRETA_LONGA_ALEATORIA_MIN_32_CHARS" />
    <add key="Maryar:JwtIssuer" value="maryar.com.br" />
    <add key="Maryar:JwtAudience" value="maryar.com.br" />
    <add key="Maryar:JwtExpirationMinutes" value="1440" />

    <add key="Maryar:CorsOrigins" value="https://maryar.com.br,https://www.maryar.com.br,http://localhost:5173" />

    <add key="InfinitePay:BaseUrl" value="https://api.infinitepay.io" />
    <add key="InfinitePay:ApiKey" value="PREENCHER_DEPOIS" />
    <add key="InfinitePay:WebhookSecret" value="PREENCHER_DEPOIS" />
    <add key="InfinitePay:MerchantHandle" value="PREENCHER_DEPOIS" />
  </appSettings>
  <connectionStrings>
    <add name="MaryarDb"
         connectionString="server=localhost;port=3306;database=maryar;uid=maryar_app;password=TROQUE_AQUI;SslMode=Required;CharSet=utf8mb4;AllowPublicKeyRetrieval=true;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="10240" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
